.head{
	font-family: "Comfortaa", sans-serif;
	position: relative;
  padding: 10px;
  font-size:large;
}
.brand{
  font-family: "Comfortaa", sans-serif;
  padding: 10px;
  text-align: center;
  font-size: large;
  color: red;
}
.head-down{
  background-color: rgb(122, 65, 255);
  text-align: center;

}
.letter{
  cursor:grab;
  color: whitesmoke;
  text-shadow: 10px;
  text-decoration: inherit;
  font-size: large;
  font-weight: bold;
  text-align: center;
}
